.admin{
  &__header {
    position: relative;
}
  &__container {
 
  left: 50%;
  transform: translateX(-50%);
  background: $white;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;

  }
}